<h1> All Posts </h1>
<table class="microposts" summary="User microposts">
<%= @microposts.each do |micropost| %>
<table class="microposts", "micropostcity" summary="User microposts">
<%= render @microposts %>
<% end %>
